__pycache__/
*.py[cod]
*$py.class
*.so
.Python
*.egg-info/
*.egg
dist/
build/
.eggs/
*.sqlite3
media/questions/*
!media/questions/.gitkeep
.pythonlibs/
.env
*.pyc
staticfiles/
*.log
.cache/
.local/
.config/
.upm/
